.chat-list {
  li {
    &.typing {
      &:before {
        content: '威威输入中';
      }
      span {
        background: #fffffb; // 胡粉
      }
    }
    &.weiwei {
      &:before {
        content: '威威 我们的目标是远方的海';
      }
      span {
        background: linear-gradient(to right top, #516e41 34%, #0089a7);
        color: #fffffb;
      }
    }
  }
}
